<div class="page-wrapper" tabindex="-1" role="main">
    {% if page.cover %}
        <img src="{{ page.cover }}"
             width="100%"
             height="{{ page.cover_height | default: '100%' }}"
             alt="{{ page.title | escape }}"
             style="object-fit: cover;"
        />
    {% endif %}

    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">
                    {% if page.title %}
                        <h1 id="{{ page.id }}">{{ page.title | escape }}</h1>
                    {% else %}
                        <h1 id="{{ page.id }}">{{ site.title | escape }}</h1>
                    {% endif %}

                    {{ content }}
                </section>
            </div>

            {%- include search.html -%}
        </div>
        {% if reversed_posts %}
        {% if page.layout == "home" %}
            <h1>Most recent posts</h1>
            <div class="posts-container">
                {% for post in reversed_posts %}
                    <div>
                        <a href="{{site.baseurl}}{{post.url}}" aria-label="{{post.title}}">
                            <h2>{{ post.title }}</h2>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endif %}
    </div>
</div>
